* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  overflow: hidden;

}
.main {
  height: 100%;
  width: 100%;
}
.hero {
  height: 90%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}
.slide {
  height: 100%;
  width: 100%;
  display: none;
}
.slide.active {
  display: block;
}

.slide.enter-from-right {
  animation: enterFromRight 0.5s forwards;
}
@keyframes enterFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
.slide.enter-from-left {
  animation: enterFromLeft 0.5s ease-in-out;
}
@keyframes enterFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
/* @keyframes slideleft {
    0% {
        transform: translateX(100%) ;
      }
      100% {
        transform: translateX(0%) ;
      }
   
}
@keyframes slideright {
    0% {
        transform: translateX(-100%) ;
      }
      100% {
        transform: translateX(0%) ;
      }
   
} */
.slide1 {
  background-image: url("./assests/1.jpg");
  background-size: cover;
  filter: brightness(50%);
}
.slide2 {
  background-image: url("./assests/2.jpg");
  background-size: cover;
  filter: brightness(50%);
}
.slide3 {
  background-image: url("./assests/3.jpg");
  background-size: cover;
  filter: brightness(50%);
}
.slide4 {
  background-image: url("./assests/4.jpg");
  background-size: cover;
  filter: brightness(50%);
}

.controller {
  position: fixed;
  width: 100%;
  display: flex;
  height: 40px;
  justify-content: space-between;
}

.fa-solid {
  color: aliceblue;
  font-size: 40px;
  filter: brightness(80%);
  cursor: pointer;
}


.dots-container{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
     height: 20px;
     width: 100%;

     bottom: 10px;
}

.dots{
    height: 10px;
    width: 10px;
    border: 1px solid white;
    border-radius: 50%;
  
}
.dots.active{
    background-color: rgb(218, 218, 218);
}